@font-face {
	font-family: 'minecraftfont';
	src: url('/static/fonts/minecraftfont.eot');
	src: local('minecraftfont'), url('/static/fonts/minecraftfont.woff') format('woff'), url('/static/fonts/minecraftfont.ttf') format('truetype');
}

.mc-font {
	font-family: 'minecraftfont', serif !important;
}

.mc-colors {
	background-color: #262626;
	color: white;
}

.mc-format {

}

.mc-format-a {
	color: #3ffe3f;
}

.mc-format-b {
	color: #3ffefe;
}

.mc-format-c {
	color: #fe3f3f;
}

.mc-format-d {
	color: #fe3ffe;
}

.mc-format-e {
	color: #fefe3f;
}

.mc-format-f {
	color: #ffffff;
}

.mc-format-0 {
	color: #000000;
}

.mc-format-1 {
	color: #0000be;
}

.mc-format-2 {
	color: #00be00;
}

.mc-format-3 {
	color: #00bebe;
}

.mc-format-4 {
	color: #be0000;
}

.mc-format-5 {
	color: #be00be;
}

.mc-format-6 {
	color: #d9a334;
}

.mc-format-7 {
	color: #bebebe;
}

.mc-format-8 {
	color: #3f3f3f;
}

.mc-format-9 {
	color: #3f3ffe;
}

.mc-format-k {

}

.mc-format-l {
	font-weight: bold;
}

.mc-format-m {
	text-decoration: line-through;
	text-decoration-skip: spaces;
}

.mc-format-n {
	text-decoration: underline;
	text-decoration-skip: spaces;
}

.mc-format-o {
	font-style: italic;
}

.mc-format-r {

}