{% extends 'main.html' %}
{% block content %}
<!-- Error message
------------------------------------------------------->
<div class="alert alert-danger" id="alert-box" hidden>
    <strong>Uh oh!</strong> Something went wrong! Please reload the page.
</div>

<!-- Main Panel
------------------------------------------------------->

<div class="panel panel-primary clearfix">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left" style="margin-top: 5px;"><i class="fa fa-play"></i> Live Preview</h3>
        <div class="pull-right">
            <a href="#" onclick="startEngine()" id="start-engine" class="btn btn-success btn-xs"><i class="fa fa-play"></i> Start</a>
            <a href="#" onclick="stopEngine()" id="stop-engine" class="btn btn-danger btn-xs disabled"><i class="fa fa-stop"></i> Stop</a>
            <a href="#" onclick="stopEngine(); startEngine();" id="restart-engine" class="btn btn-success btn-xs disabled"><i class="fa fa-refresh"></i> Reload</a>
        </div>
    </div>
    <div class="panel-body text-center mc-font mc-colors" id="real-time-display" style="font-size: 24px; min-height: 65px; height: 65px; max-height: 65px;">
        Not running!
    </div>
</div>

<div class="row clearfix">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-info"></i> Basic Information</h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group input-group-sm" style="margin-bottom: 15px;">
                            <span class="input-group-addon">Animation Name</span>
                            <input type="text" class="form-control" placeholder="My-Animation-Name" id="animation-name">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-file-text-o"></i> Config output</h3>
                    </div>
                    <div class="panel-body">
                        <textarea class="form-control" rows="3" id="config-output" style="resize: none; width: 100%;" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> Frames</h3>
            </div>
            <div class="panel-body">
                <div class="well well-lg mc-colors mc-font text-center" id="edit-preview" style="min-height: 75px;"></div>
                <form class="form-group clearfix" role="form">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" id="animationType">Plain Text</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="setAdditionType('Plain text')">Plain text</a></li>
                                <li class="divider"></li>
                                <li><a href="#" onclick="setAdditionType('Marquee generator')">Marquee generator</a></li>
                                <li><a href="#" onclick="setAdditionType('Text typer generator')">Text typer generator</a></li>
                                <li><a href="#" onclick="setAdditionType('Word typer generator')">Word typer generator</a></li>
                                <li><a href="#" onclick="setAdditionType('Color adder generator')">Color adder generator</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                        <input type="text" id="animationText" class="form-control mc-font mc-colors" placeholder="Your animation frame">
                        <span class="input-group-btn"><button class="btn btn-success" type="button" onclick="generateText(); generateConfig();"><i class="fa fa-plus"></i></button></span>
                    </div><!-- /input-group -->
                </form>

                <div class="collapse well well-lg" id="marquee-settings">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Text Width</span>
                        <input type="number" class="form-control" placeholder="width" id="marquee-width" value="4">
                    </div>
                </div>

                <div class="collapse well well-lg" id="typer-settings">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Step size</span>
                        <input type="number" class="form-control" placeholder="Characters written per frame" id="typer-step-size" value="1">
                    </div>
                </div>

                <div class="collapse well well-lg" id="color-settings">
                    <span class="input-group-addon">Colors (Separated by commas)</span>
                    <input type="text" class="form-control" placeholder="Characters written per frame" id="colors-colors" value="&a,&2,&b,&3,&c,&4">
                </div>

                <div class="well well-lg">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Fade In</span>
                                <input type="number" class="form-control" placeholder="Ticks" id="fade-in" value="1">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Stay</span>
                                <input type="number" class="form-control" placeholder="Ticks" id="stay" value="2">
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">Fade Out</span>
                                <input type="number" class="form-control" placeholder="Ticks" id="fade-out" value="1">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="well well-lg"><div id="animation-lines"></div></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block secondary_content %}
<div id="animation-line-modals"></div>
{% endblock %}
{% block extra_js %}
<script src="/static/js/mc-colors.js"></script>
<script src="/static/js/animations.js"></script>
{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="/static/css/mc-font.css">{% endblock %}